.App {
 margin: 0 auto 40px;
}

.SearchBar {
  grid-column: 1/5;
}

.Header {
  grid-column: 1/5;
}
.FilterAndCountry {
  display: flex;
  flex-direction: row;
}

.FilterDisplay {
  grid-column: 1;
  border-right: solid #747474 2px;
  height: 70vh;
}

.CountryDisplay {
  display: flex;
  grid-column: 2/5;
}

.CountryDisplay{
    display: flex;
    grid-column: 2/5;
}

.SVGButton{
    border: none;
    outline: none;
    background: none;
    text-align: center;
}

.ButtonBox{
    display: flex;
    justify-content: space-evenly;
}

.BackButton {
  display: block;
  margin: 0 95% 0 5%;
}